<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time App</title>
</head>
<body>
    <h1>Welcome to the Timing App</h1>
    <button onclick="window.location.href='{% url 'stopwatch' %}'">Stopwatch</button>
    <button onclick="window.location.href='{% url 'international_time' %}'">International Time</button>
    <button onclick="window.location.href='{% url 'timer' %}'">Timer</button>
</body>
</html>
